main > section{
    padding: 1rem;
}
main{
    background-color: #F5F5F5;;
}


/* titulo section produtos  */
.title-section > button{
    padding: 16px;
    gap: 10px;

    width: 164px;
    height: 51px;
    background: var(--secundary-color);
    border: none;
    color: var(--primary-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

}
.title-section > h2{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--text-color);
}
.title-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 1rem 0;
    max-width: 330px;
    margin: auto;
}

.prod-wrapper{
    display: grid;
    justify-items: center;

    width: fit-content;
    max-width: 1040px;
    margin: auto;

    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    gap: 1rem;
    grid-row-gap: 4rem;
}





/* card produtos  */
.prod{
    width: 156px;
    
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px; 
}
.prod span{
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
}
.id-prod{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}
.prod  p:first-child{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
    color: var(--text-color); 
}
.prod  p:last-child{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--secundary-color); 
}
.img-prod img{
    width: 156px;
    height: 174px;
    object-fit: cover;
}




/* icons adm styles  */
.img-prod{
    position: relative;
}
.icons-prod-wrapper{
    display: flex;
    gap: 1rem;
    width: fit-content;

    position: absolute;
    top: 11px;
    right: 11px;
}
main.adm  .icons-prod-wrapper{
    display: flex;
}
main .icons-prod-wrapper{
    display: none;
}
.button-login{
    display: none;
}




@media (min-width: 520px){
    .prod-wrapper{
        grid-template-columns: auto auto auto;
    }
    .title-section{
        max-width: 500px;
    }
    .title-section > button{
        width: 151px;
        height: 40px;
        font-size: 14px;
    }
}

@media (min-width: 720px){
    .prod-wrapper{
        grid-template-columns: auto auto auto auto;
    }
    .title-section > button{
        width: 151px;
        height: 40px;
        font-size: 14px;
    }
    .title-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        max-width: 700px;
        margin: auto;
    }
}
@media (min-width: 900px){
    .prod-wrapper{
        grid-template-columns: auto auto auto auto auto;
    }
    .title-section{
        max-width: 876px;
    }
}
@media (min-width: 1080px){
    .prod-wrapper{
        grid-template-columns: auto auto auto auto auto auto;
    }
    .title-section{
        max-width: 1048px;
    }
}